<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="casestudyEntities" connectionString="metadata=res://*/workoutmodel.csdl|res://*/workoutmodel.ssdl|res://*/workoutmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG84055V5\SQLEXPRESS;initial catalog=casestudy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>